<footer style="background-color:<%-kuas.footerColor%>;text-align:center;padding-top:20px;padding-bottom:20px;">
    <div>
        <a href="/" style="padding-left:60px;padding-right:60px;color:<%-kuas.darkColor%>" target="_blank">KUAS</a>
        <a href="//youtube.com" style="padding-left:16px;padding-right:16px;color:<%-kuas.darkColor%>" target="_blank">유튜브채널</a>
        <a href="//instagram.com" style="padding-left:16px;padding-right:16px;color:<%-kuas.darkColor%>" target="_blank">sns채널</a>
        <a href="mailto:kuaskorea@gmail.com" style="padding-left:16px;padding-right:16px;color:<%-kuas.darkColor%>" target="_blank">이메일</a>
        <a href="tel:01000000000" style="padding-left:16px;padding-right:16px;color:<%-kuas.darkColor%>" target="_blank">전화</a>
    </div>
</footer>