<header style="height:50px;background-color:<%-kuas.mainColor%>;display:flex;align-items:center;overflow:auto;position:fixed;width:100%;">
    <a href="/" style="padding-left:16px;padding-right:16px;color:<%-kuas.lightColor%>">KUAS</a>
    <a href="/about/kuas" style="margin-left:auto;padding-left:16px;padding-right:16px;color:<%-kuas.lightColor%>">동아리</a>
    <a href="/about/members" style="padding-left:16px;padding-right:16px;color:<%-kuas.lightColor%>">멤버</a>
    <a href="/about/recruit" style="padding-left:16px;padding-right:16px;color:<%-kuas.lightColor%>">모집</a>
</header>