<%function fullURL(url){
    return url.charAt(0)==='/'?'http://www.kuaskorea.org'+url:url;
}%>
<meta charset="utf-8">

<meta name="referrer" content="always">
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1"/>
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0">

<meta property="og:site_name" content="KUAS" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="<%-locals.title%>">
<meta property="og:url" content="<%-fullURL(locals.url)%>">
<meta property="og:description" content="<%-locals.description%>">
<%locals.images.forEach(function(item){%>
<meta property="og:image" content="<%-fullURL(item)%>">
<%})%>
<meta name="description" lang="ko" content="<%-locals.description%>">
<meta name="keywords" lang="ko" content="<%locals.keywords.forEach(function(item){%><%-item%>,%><%})%>잡쇼퍼">
<link rel="canonical" lang="ko" content="<%-fullURL(locals.url)%>">
<title><%-locals.title%></title>

<!--<link rel="search" type="application/opensearchdescription+xml" href="/openSearch.xml" title="KUAS">-->

<!--모바일-->
<meta name="apple-mobile-web-app-title" content="<%-locals.title%>">
<link rel="shortcut icon" type="image/x-icon" href="/img/logo.png"/>
<link rel="icon" type="image/x-icon" href="/img/logo.png"/>
<link rel="apple-touch-icon" href="/img/logo.png">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<!--모바일 로딩이미지. 320*460, 640*920, 768*1004, 748*1024, 1536*2008, 1496*2048 이미지 있어야함-->
<link rel="apple-touch-startup-image" href="/img/logo.png"/>
<!--모바일 상태바 색상-->
<meta name="apple-mobile-web-app-status-bar-style" content="<%-kuas.mainColor%>"/>
<meta name="theme-color" content="<%-kuas.mainColor%>"/>

<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="/css/common.css">
<%locals.css.forEach(function(item){%>
<link rel="stylesheet" href="<%-item%>">
<%})%>

<!--<link rel="manifest" href="/manifest.json"/>-->

<!-- META SEO -->
<meta name="author" content="KUAS" />
<meta name="copyright" content="copyrights (c) by garten_choi" />

<script type="application/ld+json">
<%-JSON.stringify(locals.schema)%>
</script>