<!DOCTYPE html>
<html lang="ko">
<head>
    <%
    const headParams={
        title:'KUAS - 고려대학교 합성생물학회',
        url:'/',
        description:'고려대학교 합성생물학회',
        keywords:['KUAS','합성생물학','igem','생물','생명','생물학','고려대학교','고려대'],
        images:['/img/logo.png'],
        css:[],
        schema:{
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://www.kuaskorea.org",
            "name":"Major Map",
            "logo": "https://www.kuaskorea.org/img/logo.png",
            "contactPoint": {
                "@type": "ContactPoint",
                "email":"kuaskorea@gmail.com",
                "contactType": "Customer service"
            },
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.kuaskorea.org/map/searchMap?search={searchTerms}",
                "query-input": "required name=searchTerms"
            }
        }
    }
    let footParams={
        js:[]
    }%>
    <%-include('../parts/head.ejs',headParams);%>
</head>
<body>
<%include ../parts/header.ejs%>
<main style="min-height:100%;padding-left:30px;padding-right:30px;display:flex;flex-direction: column;align-items: center;justify-content:center;">
    <%[{part:'Leader',members:[
            {name:'이태훈',major:'환경생태공학부'}
        ]}, {part:'Wet Lab',members:[
            {name:'한현규',major:'생명공학부'},
            {name:'박세영',major:'생명과학부'},
            {name:'손광호',major:'생명공학부'}
        ]}, {part:'Dry Lab',members:[
            {name:'최정원',major:'생명공학부'},
            {name:'여진기',major:'바이오의공학부'}
        ]}, {part:'Human Practices',members:[
            {name:'엄태현',major:'생명과학부'},
            {name:'최영우',major:'생명공학부'},
            {name:'박진혁',major:'생명과학부'}
        ]}].forEach(function(team){%>
    <div style="font-size:24px;font-weight:bold;text-align: center;margin-top:16px;"><%-team.part%></div>
    <div style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;width:100%;">
        <%team.members.forEach(function(member){%>
        <div style="flex:0 0 300px;padding:10px;text-align: center">
            <img src="/img/members/<%-encodeURI(member.name)%>.jpg" style="height:300px;">
            <div><%-member.name%></div>
            <div><%-member.major%></div>
        </div>
        <%})%>
    </div>
    <%})%>
</main>
<%include ../parts/footer.ejs%>
<%-include('../parts/foot.ejs',footParams);%>
</body>
</html>