<header id="header" class="background-main <%=locals.main?'extend':''%>">
    <a href="/" title="home"><img src="/img/majorMap/logo-white.png" alt="logo" width="55" style="margin-right:15px;margin-left:15px;"/></a>
    <div id="search-school-outer">
        <div id="search-school">
            <input role="search" type="text" placeholder="대학교 / 학과 검색" class="form-control radius6 search-school-input" data-selected="searchRecent" onclick="showSearch(nowSearchType);" onkeyup="searchEnter(event.keyCode)">
            <i class="fa fa-search text18 color-text1" onclick="gotoSearch($searchList[nowSearchType].children('.checked').eq(0));"></i>
        </div>
        <div role="navigation" class="radius6" id="search-result">
            <header>
                <a id="search-recent" class="checked" onclick='showSearch(0)'>최근검색</a><a id="search-favorite" onclick='showSearch(1)'>즐겨찾기</a>
            </header>
            <div id="searchRecent">
                <%include ../ajax/header/searchRecent%>
            </div>
            <div id="searchFavorite">
                <%include ../ajax/header/searchFavorite%>
            </div>
            <div id="searchResult"></div>
        </div>
        <%if(locals.isMain){
            function numFormat(num){return num<10?'0'+num:num;}
            function dateFormatter(date){
                if(date===null)return dateFormatter(Date.now());
                else return date.getFullYear()+'-'+numFormat(date.getMonth()+1)+'-'+numFormat(date.getDate());
            }
        %>
        <div id="notice" class="text12 absolute" onclick="postLog(16,'공지',null,function(){})">
            <div>
                <%notices.forEach(function(notice){%>
                <a href="<%=notice.url%>" title="<%=notice.title%>"><i class="fa fa-bell-o"></i>&nbsp;&nbsp;&nbsp;<span class="notice-title"><%=notice.title%></span><span class="notice-date"><%=dateFormatter(notice.date)%></span></a>
                <%})%>
                <a href="<%=notices[0].url%>" title="<%=notices[0].title%>"><i class="fa fa-bell-o"></i>&nbsp;&nbsp;&nbsp;<span class="notice-title"><%=notices[0].title%></span><span class="notice-date"><%=dateFormatter(notices[0].date)%></span></a>
            </div>
        </div>
        <%}%>
    </div>
</header>
<div class="color-text4" onclick="$(this).next().slideToggle();$(this).children('i').toggleClass('fa-rotate-180')" style="position:fixed;right:0;top:0;width:50px;height:50px;text-align:center;z-index:101;line-height:50px;">
    <i class="rotation-animated fa fa-chevron-down"></i>
</div>
<div id="user-login" class="radius6" style="align-items:center">
    <div style="width:0;height:0;border-left:6px solid transparent;border-right: 6px solid transparent;border-bottom:12px solid #294084;position:absolute;right:19px;top:-12px;"></div>
    <%if(user===undefined){%>
    <a class="btn btn-container color-text1" style="right:20px;" data-toggle="modal" data-target="#loginModal">로그인</a>
    <%}else{%>
    <%if(user.userLevel===10){%>
    <a href="/admin/news" title="입시뉴스" style="color:white;margin-right:10px;vertical-align:middle;">입시뉴스</a>
    <a href="/admin/notice" title="공지사항" style="color:white;margin-right:10px;vertical-align:middle;">공지사항</a>
    <%}%>
    <a href="/user/modify" title="개인정보" class="btn btn-container color-text1">개인정보</a>
    <a href="javascript:logout()" title="로그아웃" class="btn btn-container color-text1" style="margin-left:5px;">로그아웃</a>
    <%}%>
</div>